.pdf {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.image{
    background-image: linear-gradient(130deg,#00d39c 25%,#a6aef6 100%)!important;
}


.et_pb_bottom_inside_divider {
    background-image: url(../assets/descarga.svg);
    background-size: 100% 100%;
    bottom: 0;
    height: 100%;
    z-index: 1;
}

.tamanio {
    width: 100%;
}